.globalForm {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: rgba(55, 56, 56, 0.2) 0px 8px 24px;
  background-color: #ffff;
  border-radius: 1rem;
  max-width: 65rem;
  padding: 4rem;
  gap: 3rem;
}
.form-btn {
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  background-color: $blue;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}
