.navbar {
  width: 100%;
  display: flex;
  padding: 1rem 3rem;

  a {
    text-decoration: none;
  }
  top: 0;
  background-color: #ffff;
  height: 6rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;

  .user-container {
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 1rem;
      color: #313131;
    }
    display: flex;
    align-items: center;
    gap: 1rem;
    #name {
      font-family: $mont;
      font-weight: 600;
    }

    img {
      width: 4rem;
      border-radius: 100px;
    }
  }

  .input-container {
    position: relative;
    width: 40rem;
    img {
      position: absolute;
      left: 0;
      top: 50%;
      left: 3%;
      width: 2rem;
      transform: translateY(-50%);
      z-index: 999;
    }
    #search {
      width: 40rem;
      padding: 1rem;
      border: none;
      outline: none;
      background-color: #f5f7f9;
      border-radius: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &:focus,
      &:not(:placeholder-shown) {
        z-index: 9999;
      }
    }
  }
}
