@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
  color: #546884; }

.heading-primary {
  font-family: "Montserrat", sans-serif; }

.heading-primary-blue {
  color: #277ffe; }

.container {
  max-width: 120rem;
  margin: 0 auto; }

#redirectRegister {
  color: #277ffe;
  font-size: 1.6rem; }

#redirectLogin {
  color: #277ffe;
  font-size: 1.6rem; }

body {
  background-color: #f2f5ff; }

.container-register {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif; }
  .container-register input {
    height: 4rem;
    color: #546884;
    font-weight: 600;
    padding: 1rem 1rem 1rem 4rem;
    width: 100%;
    border: 1px solid #ebebeb;
    display: block;
    border-radius: 1rem;
    outline: none; }
    .container-register input::placeholder {
      color: #546884;
      font-weight: 600; }
  .container-register .input-container {
    width: 100%;
    position: relative; }
    .container-register .input-container img {
      top: 50%;
      left: 2%;
      transform: translateY(-50%);
      position: absolute; }

#redirectRegister {
  color: #277ffe; }

.container-perm {
  max-width: 120rem;
  margin: 0 auto;
  text-align: center;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif; }

.globalForm {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: rgba(55, 56, 56, 0.2) 0px 8px 24px;
  background-color: #ffff;
  border-radius: 1rem;
  max-width: 65rem;
  padding: 4rem;
  gap: 3rem; }

.form-btn {
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  background-color: #277ffe;
  color: #fff;
  cursor: pointer;
  font-weight: 600; }

#alertWindow {
  position: absolute;
  background-color: #4eae4a;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 30rem;
  text-align: center;
  color: #fff;
  transition: all 0.4s ease;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-6rem); }

.main__section {
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr 4fr 1fr;
  column-gap: 1rem;
  height: 100vh; }
  .main__section > * {
    padding-top: 6rem;
    background-color: #ffff;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem; }
  .main__section .left-sidebar {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .main__section .left-sidebar ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 2rem; }
      .main__section .left-sidebar ul li a {
        display: flex;
        gap: 1rem;
        text-decoration: none;
        color: #546890;
        align-items: center; }
  .main__section .main-grid {
    overflow-y: scroll; }
    .main__section .main-grid::-webkit-scrollbar-track {
      background-color: #b4b4b4;
      /* Set color of track */ }
    .main__section .main-grid::-webkit-scrollbar {
      width: 5px;
      /* Set width of scrollbar */ }
    .main__section .main-grid::-webkit-scrollbar-thumb {
      background-color: #277ffe;
      /* Set color of thumb */ }

.navbar {
  width: 100%;
  display: flex;
  padding: 1rem 3rem;
  top: 0;
  background-color: #ffff;
  height: 6rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  position: fixed; }
  .navbar .user-container {
    display: flex;
    align-items: center;
    gap: 1rem; }
    .navbar .user-container #name {
      font-family: "Montserrat", sans-serif;
      font-weight: 600; }
  .navbar .input-container {
    position: relative;
    width: 40rem; }
    .navbar .input-container img {
      position: absolute;
      left: 0;
      top: 50%;
      left: 3%;
      width: 2rem;
      transform: translateY(-50%);
      z-index: 999; }
    .navbar .input-container #search {
      width: 40rem;
      padding: 1rem;
      border: none;
      outline: none;
      background-color: #f5f7f9;
      border-radius: 1rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .navbar .input-container #search:focus {
        z-index: 9999; }
