.container-perm {
  max-width: 120rem;
  margin: 0 auto;
  text-align: center;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: $mont;
}
