body {
  background-color: #f2f5ff;
}

.container-register {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $mont;

  input {
    height: 4rem;
    color: #546884;
    font-weight: 600;
    padding: 1rem 1rem 1rem 4rem;
    width: 100%;
    border: 1px solid #ebebeb;
    display: block;
    border-radius: 1rem;
    outline: none;
    &::placeholder {
      color: #546884;
      font-weight: 600;
    }
  }

  .input-container {
    width: 100%;
    position: relative;

    img {
      top: 50%;
      left: 2%;
      transform: translateY(-50%);
      position: absolute;
    }
  }
}

#redirectRegister {
  color: $blue;
}
