.search-user-grid {
  padding: 20rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  a {
    text-decoration: none;
  }
  .search-data-wrapper {
    background-color: #fff;

    padding: 2rem;
    transition: all 0.2s ease;
    &:hover {
      background-color: rgba(#313131, 0.03);
    }
    width: fit-content;
    display: grid;
    grid-column-gap: 2rem;
    grid-template-rows: repeat(3, 1fr);

    grid-template-columns: min-content repeat(3, max-content);

    img {
      grid-row: 1 / -1;
      grid-column: 1 / span 1;
      width: 10rem;
      border-radius: 100px;

      padding: 1rem;
    }
    .username {
      color: #546884;
      font-weight: 600;
      grid-column: 2 / -1;
      grid-row: 1 / span 1;
      font-family: $mont;
    }

    .user-description {
      grid-column: 2/ -1;
      color: rgba(#000, 0.7);
      font-style: italic;
      grid-row: 2 / span 1;
    }
    .user-postCount {
      grid-column: 2 / span 1;
      grid-row: 3 / span 1;
      color: #313131;
      font-weight: 500;
      font-size: 1.4rem;
    }
    .user-followerCount {
      grid-column: 3 / span 1;
      grid-row: 3 / span 1;
      color: #313131;
      font-weight: 500;
      font-size: 1.4rem;
    }

    .user-followingCount {
      grid-column: 4 / span 1;
      grid-row: 3 / span 1;
      color: #313131;
      font-weight: 500;
      font-size: 1.4rem;
    }
  }
}
