.main__section {
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr 4fr 1fr;
  column-gap: 1rem;
  & > * {
    padding-top: 6rem;
    background-color: #ffff;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
  }
  height: 100vh;

  .left-sidebar {
    display: flex;

    justify-content: center;
    flex-direction: column;
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      li {
        a {
          display: flex;
          gap: 1rem;
          text-decoration: none;
          color: #546890;
          align-items: center;
        }
      }

      #notifications {
        position: relative;
        .badge {
          width: 2rem;
          height: 2rem;
          border-radius: 100px;
          background-color: #ff3040;
          position: absolute;
          left: 1.5rem;
          top: 0;
          color: #ffff;
          font-size: 1.2rem;
          font-weight: 600;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.2rem;
        }
      }
    }
  }

  .right-sidebar {
    #filler {
      margin-bottom: 3rem;
      display: block;
      padding: 1rem;
    }
    .featured-wrapper {
      transition: all 0.3s ease;
      padding: 1rem;
      &:hover {
        background-color: rgba(#313131, 0.05);
      }

      text-decoration: none;
      display: grid;

      grid-template-columns: min-content 1fr;
      grid-template-rows: min-content 1fr;
      column-gap: 2rem;
    }
    img {
      width: 5rem;
      height: 5rem;
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
      border-radius: 100px;
    }

    #featureName {
      font-size: 1.6rem;
      color: #313131;
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
    }

    #description {
      grid-column: 2 / span 1;
      color: rgba(#313131, 0.9);
      font-size: 1.4rem;
      font-style: italic;
      grid-row: 2 / span 1;
    }

    .recentFollowers-wrapper {
      margin-top: 5rem;

      #fillerFollower {
        margin-left: 1rem;
        font-size: 1.4rem;
      }
      .recentFollower {
        text-decoration: none;
        display: grid;
        padding: 1rem;
        cursor: pointer;
        grid-template-columns: min-content 1fr;
        transition: all 0.2s ease;
        &:hover {
          background-color: rgba(#313131, 0.05);
        }
        grid-template-rows: min-content 1fr;
        column-gap: 2rem;

        #name {
          font-size: 1.6rem;
          color: #313131;
          grid-column: 2 / span 1;
          grid-row: 1 / span 1;
        }

        #desc {
          grid-column: 2 / span 1;
          color: rgba(#313131, 0.9);
          font-size: 1.4rem;
          font-style: italic;
          grid-row: 2 / span 1;
        }

        img {
          width: 5rem;
          height: 5rem;
          grid-column: 1 / span 1;
          grid-row: 1 / span 2;
          border-radius: 100px;
        }

        #followback {
          font-size: 1.3rem;
          text-decoration: none;
          color: #313131;
          grid-column: 2 / span 1;
          color: $blue;
          justify-self: start;
          border: none;
          outline: none;
          background-color: transparent;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
            display: inline;
          }
        }

        #followState {
          font-size: 1.3rem;

          color: #313131;
          grid-column: 2 / span 1;
          color: $blue;
          justify-self: start;
        }
      }
    }
  }

  .main-grid {
    padding-top: 10rem !important;
    overflow-y: scroll;
    &::-webkit-scrollbar-track {
      background-color: #b4b4b4; /* Set color of track */
    }

    &::-webkit-scrollbar {
      width: 5px; /* Set width of scrollbar */
    }

    &::-webkit-scrollbar-thumb {
      background-color: $blue; /* Set color of thumb */
    }
  }
}

//UPDATE USER OVERVIEW CSS
#meForm {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;

  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;

    input {
      border: none;
      outline: none;
      width: 100%;
      height: 4rem;
      border-radius: 1rem;
      background-color: rgba(#b4b4b4, 0.3);
      padding: 1rem;
    }

    img {
      width: 5rem;
      border-radius: 100px;
    }

    select {
      border: 1px solid $blue;
      width: 20rem;
      padding: 1rem;
      border-radius: 1rem;
      outline: none;
      padding: 1rem;
    }

    #profilePicture {
      display: none;
    }

    #profilePictureLabel {
      color: $blue;
      text-decoration: underline;
      cursor: pointer;
      margin-left: 2rem;
    }
  }

  #img-container {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    input {
      width: auto;
      background-color: transparent;
      border: none;
      outline: none;
    }
  }

  #submitChanges {
    text-transform: uppercase;
    font-family: $mont;
    align-self: flex-end;
  }
}

.change-profile-wrapper {
  display: flex;
  align-items: center;
  .general-wrapper {
  }
  justify-content: center;

  height: 50rem;
}

.change-password-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .heading-primary {
    text-align: end;
  }

  #passwordForm {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
    div {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 0.5rem;

      input {
        border: none;
        outline: none;
        width: 100%;
        height: 4rem;
        border-radius: 1rem;
        background-color: rgba(#b4b4b4, 0.3);
        padding: 1rem;
      }
    }

    #submitPasswordChanges {
      text-transform: uppercase;
      font-family: $mont;
      align-self: flex-end;
    }
  }
  #logout {
    background-color: #840808;
    color: #ffff;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 1rem;
  }
}

.general-wrapper {
  width: 50rem;
}

// Me css
.page__me {
  &__profile-info {
    padding: 3rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    img {
      border-radius: 100px;
      width: 10rem;
    }
  }

  &__post-follower-data-wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .data-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;
    }
    a {
      text-decoration: none;
      color: #b4b4b4;
      b {
        color: #546890;
      }
    }
    #editProfileOperation {
      color: #ffff;
      background-color: $blue;
      padding: 1rem 2rem;
      border-radius: 5px;
    }
  }

  &__posts__wrapper {
    margin-top: 5rem;
    padding: 3rem;
  }

  &__posts {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, min-content));
    gap: 1rem;
    .postWrapper {
      position: relative;
      cursor: pointer;
      width: 35rem;
      height: 35rem;
      .review-overlay {
        position: absolute;
        width: 100%;
        transition: all 0.3s ease;
        height: 100%;
      }
      &:hover .review-overlay {
        background-color: rgba(#000, 0.5);
      }
    }
    img {
      object-fit: cover;
      width: 100%;
    }

    .lazyLoader {
      width: 35rem;
      height: 35rem;
      background-color: #eee;
    }
  }
}

//create a post page
.createPost__page {
  height: 100%;
  display: flex;
  align-items: center;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  #createPostForm {
    display: flex;
    flex-direction: column;
    width: 40rem;
    gap: 1rem;
    #postFile {
      display: none;
    }
    #postFileLabel {
      color: $blue;
      text-decoration: underline;
      text-align: center;
      font-size: 1.8rem;

      align-self: flex-start;
      border-radius: 100px;

      cursor: pointer;
    }
    #postDescription {
      border: none;
      outline: none;
      border-bottom: 1px solid $blue;
      padding: 1rem;
      height: 5rem;
      background-color: darken(#fff, 3);
      border-radius: 1rem;
    }

    #postPost {
      border: none;
      outline: none;
      align-self: flex-start;
      text-transform: uppercase;
      font-family: $mont;
      padding: 1rem 2rem;
      font-size: 1.8rem;
      cursor: pointer;
      background-color: $blue;
      color: #ffff;
      border-radius: 1rem;
    }
  }
}

//me page - Post Overlay

.page__me {
  &__post-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(#000, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;

    #closeOverlay {
      position: absolute;
      top: 5%;
      background-color: transparent;
      cursor: pointer;
      outline: none;
      border: none;
      font-family: $mont;
      right: 5%;
      font-size: 3rem;
      font-weight: 700;
      color: #fff;
    }
  }

  &__post-popup {
    display: flex;

    .page__me__about-post {
      .page__me__comment-section {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        height: 43rem;
        overflow-y: scroll;

        .comment-wrapper {
          display: grid;
          grid-template-columns: min-content 1fr min-content;
          grid-template-rows: min-content 1fr;
          column-gap: 1rem;
          img {
            grid-column: 1 / span 1;
            grid-row: 1 / -1;
          }
          #commCreator {
            grid-column: 2 / span 1;
            font-size: 1.5rem;
            font-weight: 600;
            color: #313131;
            grid-row: 1 / span 1;
          }
          #commData {
            grid-column: 2 / span 1;
            grid-row: 2 / span 1;
            font-size: 1.4rem;
            font-style: italic;
            color: #313131;
          }

          #deleteComment {
            color: #ff3040;
            border: none;
            outline: none;
            background-color: transparent;
            grid-row: 1/-1;
            align-self: center;
            cursor: pointer;
          }
        }
        img {
          width: 5rem;
          height: 5rem;
          grid-column: 1 / span 1;
          grid-row: 1 / -1;
          border-radius: 100px;
        }

        b {
          color: #313131;
        }
        a {
          display: grid;
          column-gap: 1rem;
          grid-template-columns: min-content 1fr;
          grid-template-rows: repeat(2, min-content);
          text-decoration: none;
          color: #808080;

          span {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  &__img-wrapper {
    width: 60rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__about-post {
    position: relative;
    width: 30rem;
    background-color: #ffff;

    .page__me__post-creator {
      width: 100%;

      top: 0;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 3rem 1rem;
      gap: 2rem;
      border-bottom: 1px solid rgba(#000, 0.2);
      img {
        width: 5rem;
        border-radius: 100px;
      }

      #deleteCurrentPost {
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        img {
          width: 2rem;
        }
        margin-left: auto;
      }
    }
  }

  &__operations {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    align-items: flex-start;
    padding: 1rem;

    width: 100%;
    gap: 1rem;
    #likePost {
      border: none;
      background-color: transparent;
      cursor: pointer;
      outline: none;
    }
    #numLikes {
      text-decoration: none;
      color: #546890;
      font-weight: 600;
    }
    #date {
      font-size: 1.5rem;
    }
    form {
      width: 100%;
    }
    #postComment {
      align-self: stretch;
      background-color: transparent;
      border: none;
      outline: none;
      padding: 1rem;
      border-top: 1px solid rgba(#000, 0.2);
      width: 100%;
    }
  }

  &__comment-section {
    padding: 1rem;
  }
}
