<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expecto Patronum | Ajdin Omerović</title>
  </head>
  <body>
    <nav class="navbar">
      <a href="/"
        ><h1 class="heading-primary heading-primary-blue">
          Expecto Patronum
        </h1></a
      >
      <div class="input-container">
        <img src="./imgs/search.svg" alt="search icon" />
        <input type="search" id="search" placeholder=" " />
      </div>
      <div class="user-container">
        <a href="/settings">
          <span id="name">Ajdin</span>
          <img src="./imgs/me.svg" alt="user image" />
        </a>
      </div>
    </nav>

    <section class="main__section">
      <div class="left-sidebar">
        <ul>
          <li>
            <a href="#">
              <img src="./imgs/home.svg" alt="" /><span>Home</span></a
            >
          </li>
          <li>
            <a href="#"
              ><img src="./imgs/message.svg" alt="" /><span>Chat</span></a
            >
          </li>
          <li>
            <a href="#"
              ><img src="./imgs/notification.png" alt="" /><span
                >Notifications</span
              ></a
            >
          </li>
          <li>
            <a href="/settings"
              ><img src="./imgs/settings.svg" alt="" /><span>Settings</span></a
            >
          </li>
        </ul>
      </div>
      <div class="main-grid">
        <div class="page__me__profile-info">
          <img src="/imgs/me.png" alt="" />
          <h2 class="page__me__heading-primary">Ajdin Omerovic</h2>
        </div>
        <div class="page__me__post-follower-data-wrapper">
          <div class="data-wrapper">
            <a href="#">
              <span id="followerData"><b>13</b> posts</span>
            </a>
            <a href="#">
              <span id="followerData"><b>512</b> followers</span>
            </a>
            <a href="#">
              <span id="followerData"><b>42</b> following</span>
            </a>
          </div>
          <div class="operation-wrapper">
            <a href="/settings" id="editProfileOperation">Edit Profile</a>
          </div>
        </div>

        <div class="page__me__posts__wrapper">
          <div class="options-wrapper">
            <a href="#">POSTS</a>
            <a href="#">STATUS</a>
          </div>

          <div class="page__me__posts">
            <div>
              <img
                src="/imgs/6445218292a7c3aca1f25b59-1524217355808-fox_photo-vladimir-zivojinovic002.webp"
                alt=""
              />
            </div>
            <div>
              <img
                src="/imgs/6445218292a7c3aca1f25b59-1524217355808-fox_photo-vladimir-zivojinovic002.webp"
                alt=""
              />
            </div>
            <div>
              <img
                src="/imgs/6445218292a7c3aca1f25b59-1524217355808-fox_photo-vladimir-zivojinovic002.webp"
                alt=""
              />
            </div>
            <div>
              <img
                src="/imgs/6445218292a7c3aca1f25b59-1524217355808-fox_photo-vladimir-zivojinovic002.webp"
                alt=""
              />
            </div>
            <div>
              <img
                src="/imgs/6445218292a7c3aca1f25b59-1524217355808-fox_photo-vladimir-zivojinovic002.webp"
                alt=""
              />
            </div>
            <div>
              <img
                src="/imgs/6445218292a7c3aca1f25b59-1524217355808-fox_photo-vladimir-zivojinovic002.webp"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="right-sidebar"></div>
    </section>
  </body>
</html>
